<tr>
    <td style="vertical-align: top; padding-top: 19px">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
            <tr>
                <td style="vertical-align: top; background-color: #101423; padding: 20px 40px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
                        <tr>
                            <td style="vertical-align: top;font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; text-align: left; color: {{ textC }}; text-align: left">
                                <a href="tel:+13102413040" style="vertical-align: top; font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; text-align: center; color: {{ textC }}; text-decoration: none">+1 310-241-3040</a>
                            </td>
                            <td style="vertical-align: top; font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; text-align: right; font-weight:bold; color: {{ textC }}; text-decoration: underline">
                                <a href="https://battleground.la" target="_blank" style="vertical-align: top; font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; text-align: center; font-weight:bold; color: {{ textC }}; text-decoration: underline">battleground.la</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
