<tr>
    <td style="vertical-align: top;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;">
            <tr>
                <td style="vertical-align: top;">
                    <img class="responsive-img" src="http://keccap.ru/emails/vr/1/main1.png" alt="" width="600" height="292" border="0"
                         style="display: block; width: 100%; max-width: 600px; height: auto; vertical-align: top; border: none; outline: none; font-family: Arial, sans-serif; font-size: 25px; line-height: 1; font-weight: bold; color: {{ textC }};">
                </td>
            </tr>
        </table>
    </td>
</tr>
