<tr>
    <td style="vertical-align: top">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
            <tr>
                <td style="vertical-align: top; padding-top: 40px; padding-left: 10px; padding-right: 10px; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px; text-align: center; font-weight:bold; text-transform: uppercase; color: {{ textC }}">
                    LOCATION ADDRESS:
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding: 9px 10px 10px;font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; text-align: center;color: {{ textC }}">
                    {location address}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding-left: 10px; padding-right: 10px;">
                    <a href="#" target="_blank" style="text-decoration: none; vertical-align: top; border: none; outline: none; font-family: Arial, sans-serif; font-size: 40px; line-height: 1; font-weight: bold; color: {{ textC}};">
                        <img src="http://keccap.ru/emails/vr/1/map1.png" alt="GET DIRECTIONS" width="520" height="253" border="0" style="width: 100%; max-width: 520px; height: auto; text-decoration: none; vertical-align: top; border: none; outline: none; font-family: Arial, sans-serif; font-size: 40px; line-height: 1; font-weight: bold; color: #30444c;">
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
